#cont {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 55vh;
    visibility: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

#abt_cont {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 80vh;
}

#art_ext {
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../images/loader.gif') 50% 50% no-repeat;
}

body.loading .modal {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.menuItem{
    font-size:25pt;
    color:white;
}

.social{
    font-size:32pt!important;
    margin-right:20px;
}



/**

font-family: 'Montserrat', sans-serif;
font-family: 'Alata', sans-serif;

*/